* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

:root {
  --moderate-violet: hsl(263, 55%, 52%);
  --very-dark-grayish-blue: hsl(217, 19%, 35%);
  --very-dark-blackish-blue: hsl(219, 29%, 14%);
  --white: hsl(0, 0%, 100%);

  --light-gray: hsl(0, 0%, 81%);
  --light-grayish-blue: hsl(210, 46%, 95%);

  --barlow-semi-condensed: "Barlow Semi Condensed", serif;
  --text: 500 1.3em/150% var(--barlow-semi-condensed);
  --feature-text: 500 1.5em/100% var(--barlow-semi-condensed);
  --text-quotation: 600 2em/150% var(--barlow-semi-condensed);
}