body {
  background-color: var(--light-gray);
  display: grid;
  grid-gap: 20px;
  height: 100vh;
  justify-items: center;
  font-size: 1.3em;
  transition: width .4s, height .4s;
  transition-timing-function: ease;
}

#content {
  display: grid;
  grid-template-columns: repeat(1, minmax(300px, 400px));
  grid-gap: 10px;
  justify-items: center;
  margin-top: 10px;
}

.featured-section {
  background: url(../images/bg-pattern-quotation.svg) var(--moderate-violet) no-repeat;
  background-size: auto;
  background-position: 90% top;
}

.cards {
  display: grid;
  grid-gap: 20px;
  padding: 20px;
  border-radius: 10px;
}

.card {
  display: grid;
  grid-template-columns: repeat(2, 56px 1fr);
  grid-gap: 20px;
  align-items: center;
}

.card .profile-photo {
  border-radius: 50%;
  border: 2px solid var(--light-gray);
}

.card .infos {
  display: grid;
  width: 140px;
  color: var(--light-gray);
}

.card .profile-name {
  font: var(--feature-text);
  color: var(--white);
  width: auto;
}

.card .status-account {
  font: var(--text);
  color: var(--light-gray);
  opacity: .5;
}

.main-quote {
  font: var(--text-quotation);
  color: var(--white);
}

.review-paragraph {
  font: var(--text);
  color: var(--light-gray);
  opacity: .7;
}

.cards:nth-child(2) {
  background-color: var(--very-dark-grayish-blue);
}

.cards:nth-child(3),
.cards:nth-child(5) {
  background-color: var(--white);
}

.cards:nth-child(3) h1,
.cards:nth-child(5) h1,
.cards:nth-child(3) h2,
.cards:nth-child(5) h2,
.cards:nth-child(3) h3,
.cards:nth-child(5) h3,
.cards:nth-child(3) p,
.cards:nth-child(5) p {
  color: var(--very-dark-blackish-blue);
}

.cards:nth-child(4) {
  background-color: var(--very-dark-blackish-blue);
}

.cards:nth-child(4) .profile-photo {
  border: 2px solid var(--moderate-violet);
}

.attribution {
  align-self: start;
  font-family: Arial, Helvetica, sans-serif;
}

.attribution a {
  color: black;
  text-decoration: none;
  font-weight: 600;
  transition: all .3s;
}

.attribution a:hover {
  color: var(--moderate-violet);
  text-decoration: underline;
}

@media screen and (width > 805px) {
  #content {
    grid-template-columns: repeat(2, minmax(auto, 1fr));
    padding-inline: 10px;
    grid-gap: 20px;
  }

  .cards {
    padding: 30px;
  }

  .featured-section,
  .cards:nth-child(4),
  .cards:nth-child(5) {
    grid-column: span 2;
  }

  .attribution {
    font-size: 1.5em;
  }
}

@media screen and (width > 1439px) {
  #content {
    align-content: center;
    display: grid;
    grid-template-columns: repeat(4, minmax(auto, 1fr));
    max-width: 1960px;
    grid-template-areas: 
    "feature-content feature-content top-content sidebar-content"
    "left-content middle-content middle-content sidebar-content";
  }

  .cards:nth-child(1) {
    grid-area: feature-content;
  }

  .cards:nth-child(2) {
    grid-area: top-content;
  }

  .cards:nth-child(3) {
    grid-area: left-content;
  }

  .cards:nth-child(4) {
    grid-area: middle-content;
  }

  .cards:nth-child(5) {
    grid-area: sidebar-content;
  }

  .main-quote {
    font-size: 2.5em;
  }

  .review-paragraph {
    font-size: 1.6em;
    line-height: 1.6em;
  }

  .card {
    height: 70px;
    grid-gap: 25px;
  }

  .card .infos {
    width: 200px;
  }

  .card .profile-name {
    font-size: 2em;
  }

  .card .status-account {
    font-size: 1.5em;
  }
}

@media screen and (width > 1690px) {
  #content {
    grid-gap: 30px;
  }

  .cards {
    padding: 40px;
  }

  .card .status-account {
    font-size: 1.6em;
  }

  .attribution {
    font-size: 1.7em;
  }

}